sql/callbook/fcc/*
sql/data.sql
sql/callbook/ca/*
logger/test/*.json
test.ini
loggerlink/loggerlink.phar
loggerlink/archlinux/src
loggerlink/archlinux/pkg
loggerlink/archlinux/*pkg.tar*
loggerlink/loggerscripts/archlinux/src
loggerlink/loggerscripts/archlinux/pkg
loggerlink/loggerscripts/archlinux/*pkg.tar*

